<launch>
    <arg name="robot"                   default="sim_trossen"/>

    <node pkg="gello" name="nodes" type="launch_nodes.py" output="screen">
        <arg name="robot"               value="$(robot)"/>
    </node>
    <node pkg="gello" name="env" type="run_env.py" output="screen">
        <arg name="robot_type"          value="$(robot)"/>
        <arg name="agent"               value="gello"/>
    </node>

</launch>